[package]
name = "dnssd-rs"
version = "0.1.0"
authors = ["Jeremy Knope <me@jeremyknope.com>"]
description = "Simple DNS-SD wrapper"
keywords = ["dns-sd", "dnssd", "bonjour", "zeroconf", "mdns"]
categories = ["network-programming", "api-bindings"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
build = "build.rs"

[build-dependencies]
pkg-config = "0.3.9"

[dependencies]
